@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Work+Sans&display=swap');

:root {
	--black: rgb(5, 16, 29);
	--red: rgb(189, 0, 0);
	--grey: rgb(33, 28, 28);
	--white: rgb(255, 255, 255);
	--unwhite: rgb(201, 201, 201);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Work Sans;
}

body {
	font-size: 16px;
	/* min-height: 2000px; */
	background-color: var(--black);
	color: var(--white);
}

a {
	text-decoration: none;
}

/* Screensaver */
canvas {
	position: fixed;
	z-index: 99;
	background-color: var(--black);
	display: none;
}

/* Navbar */
.navbar {
	display: flex;
	position: fixed;
	width: 100%;
	height: 60px;
	color: var(--white);
	background-color: var(--black);
	padding: 0 3em;
	z-index: 98;
}

.navbar-logo {
	display: flex;
	align-items: center;
	height: 100%;
}

.navbar-logo a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--white);
	font-size: 1.3em;
}

.navbar-logo img {
	width: 50px;
	margin-right: 0.5rem;
}

.navbar-menu-container {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	height: 100%;
}

.navbar-menu {
	display: flex;
	margin-right: 2em;
}

.navbar-menu a {
	color: var(--unwhite);
	text-decoration: none;
}

.navbar-item {
	height: 100%;
}

.navbar-item a {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 1rem;
	transition: 0.15s ease-in-out;
}

.navbar-item a:hover {
	border-top: 3px solid var(--red);
	color: var(--white);
}

.active {
	color: var(--white) !important;
	border-top: 3px solid var(--red);
}

.navbar-btn {
	display: flex;
	align-items: center;
}

.dropdown:hover .dropdown-container {
	display: block;
}

.dropdown:hover .navbar-item a {
	border-top: 3px solid var(--red);
	color: var(--white);
}

.dropdown-container {
	display: none;
	position: absolute;
	border-radius: 0.5rem;
	background-color: var(--black);
	box-shadow: 0 1px 5px var(--grey);
	transition: 0.13s ease-in-out;
}

.dropdown-item a {
	display: flex;
	padding: 1rem 1rem;
	transition: 0.13s ease-in-out;
}

.dropdown-item a:hover {
	color: var(--white);
}

/* Mini Navbar */
#miniNavbar {
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: var(--black);
	top: 60px;
	z-index: 98;
}

.mini-navbar-item {
	padding: 2em 3em;
}

.mini-navbar-item a {
	text-decoration: none;
	border: none;
	font-size: 1.5em;
	color: var(--unwhite);
}
.mini-navbar-item a:hover {
	border-top: 3px solid var(--red);
}

/* Hamburger */
#hamburger {
	display: none;
	position: absolute;
	width: 25px;
	top: 1.5em;
	right: 1.5em;
}

#hamburger span {
	width: 100%;
	margin: 2px 0;
	border: 1px solid var(--white);
	background-color: var(--white);
}

/* Content */
.hero {
	height: 100vh;
	padding-top: 60px;
	color: var(--white);
	background: url('/assets/slide1.jpg');
	background-size: cover;
	background-position: center;
	margin-bottom: 3em;
}

.hero-title {
	font-size: 5em;
	font-weight: bold;
	margin-bottom: 0.2em;
}

/* Slideshow */
#slideshow {
	display: flex;
	position: relative;
	width: 100%;
	height: 600px;
}

#slideshow img {
	width: 100%;
	height: 100%;
	transition: 1s ease-in-out;
}

.slider-control {
	position: absolute;
	display: flex;
	align-items: center;
	height: inherit;
	padding: 0 30px;
	font-size: 4em;
	cursor: pointer;
	color: var(--red);
}

.slider-control:hover {
	background-color: rgba(197, 24, 24, 0.2);
	color: var(--black);
}

#rightBtn {
	right: 0;
}

.dots {
	position: absolute;
	bottom: 15px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.dot {
	height: 13px;
	width: 13px;
	margin: 0 3px;
	background-color: var(--unwhite);
	border-radius: 50%;
	display: inline-block;
}

.dot-active {
	background-color: var(--red);
}

/* Video */
.video {
	padding-top: 3em;
	padding-bottom: 1em;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	display: block;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Class */
.classes {
	padding-top: 70px;
}

.class-card {
	min-height: 290px;
	color: var(--white);
	background-color: rgb(39, 38, 44);
	border-radius: 10px;
	box-shadow: 0 1px 5px rgb(92, 92, 92);
	transition: 0.15s ease-in-out;
	cursor: pointer;
}

.class-card:hover {
	box-shadow: 0 1px 5px var(--red);
}

.class-card:hover {
	transform: scale(1.02);
}

.class-card-img {
	height: 200px;
}

.class-card-img img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.class-card-desc {
	padding: 1em;
}

.class-card-name {
	font-size: 1.2em;
	margin-bottom: 1em;
}

.class-card-duration {
	font-size: 0.8em;
	padding: 0 5px;
	border-radius: 10px;
	display: inline-block;
	background-color: var(--red);
}

.page-title {
	font-size: 2em;
	margin-bottom: 0.5em;
	text-align: center;
}

/* Blog */
.blog {
	padding-top: 70px;
}

.blog-card-featured {
	height: 500px;
	position: relative;
	padding: 3em;
	margin-bottom: 3em;
}

.blog-featured {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 0.7em;
	border-radius: 5px;
	background-color: rgba(255, 0, 0, 0.4);
}

.blog-card {
	min-height: 350px;
	margin-bottom: 1em;
	color: var(--white);
	background-color: rgb(39, 38, 44);
	border-radius: 10px;
	box-shadow: 0 1px 5px rgb(92, 92, 92);
	transition: 0.15s ease-in-out;
	cursor: pointer;
}

.blog-card:hover {
	box-shadow: 0 1px 5px var(--red);
}

.blog-card-image {
	width: 100%;
	height: 200px;
	border-radius: 10px;
}

.blog-card-desc {
	padding: 1em;
}

.blog-card-title {
	font-size: 1.1em;
	margin-bottom: 1em;
}

.blog-card-date {
	font-size: 0.8em;
}

.blog-card-attributes {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

/* Blog Detail */
.blog-title {
	font-size: 2em;
	margin-bottom: 0.5em;
}
.blog-detail {
	padding-top: 140px;
}

.blog-desc {
	text-align: justify;
}

.blog-image {
	width: 100%;
	height: 100%;
}

.side-panel a {
	color: var(--unwhite);
	text-decoration: underline;
	text-decoration-color: var(--unwhite);
}

.side-panel p {
	margin: 1em 0;
	font-size: 1.2em;
}

.side-panel a:hover {
	color: var(--white);
}

/* Footer */
.footer {
	color: var(--unwhite);
	background-color: var(--black);
	padding: 1em 0;
}

.footer-title {
	font-size: 1.1em;
	margin-bottom: 0.6em;
	color: var(--white);
}

.footer-logo {
	/* text-align: center; */
}

.footer-logo img {
	width: 100px;
}

.footer-text {
	font-size: 0.9em;
}

.footer-links {
	display: flex;
	flex-direction: column;
	font-size: 0.9em;
}

.footer-links a {
	color: var(--unwhite);
	margin-bottom: 0.5em;
	text-decoration: underline;
}

.footer-links a:hover {
	color: var(--white);
}
.footer-social {
	display: flex;
	align-items: center;
	margin-bottom: 2em;
}

.footer-social a {
	margin-right: 0.7em;
}

.footer-social img {
	width: 30px;
	transition: transform 0.15s ease-in-out;
}

.footer-social img:hover {
	transform: scale(1.2);
}

.copyright {
	font-size: 0.9em;
}

/* Join */
.register {
	width: 100%;
	height: 100vh;
	background: url('../assets/join.jpg');
	background-size: cover;
	background-position: center;
}

.blur {
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(3px);
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.card {
	margin-left: 10rem;
	padding: 2em 2em;
	background-color: var(--black);
	box-shadow: 2px 2px 5px var(--grey);
	color: var(--unwhite);
	border-radius: 5px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form a {
	text-decoration: underline;
}

.form-title {
	font-size: 1.5em;
	margin-bottom: 1em;
	font-weight: bold;
	color: white;
}

.input-container {
	width: 100%;
	margin-bottom: 10px;
}

.center-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='tel'],
select {
	width: 100%;
	padding: 10px;
	font-size: 1em;
	border: 1px solid rgb(197, 197, 197);
	border-radius: 5px;
}

.btn {
	border: none;
	cursor: pointer;
	text-decoration: none;
}

.btn-register {
	padding: 10px 25px;
	font-size: 1em;
	border-radius: 5px;
	color: var(--white);
	background-color: var(--red);
	transition: 0.15s ease-in-out;
}

.btn-register:hover {
	border-radius: 7px;
	background-color: rgb(179, 0, 0);
}

form a {
	font-size: 0.8em;
	color: var(--unwhite);
}

form a:hover {
	color: var(--white);
}

.errorLabel {
	color: var(--red);
	font-size: 0.8em;
	margin-top: 2px;
}

/* Media Queries */
@media screen and (max-width: 700px) {
	body {
		font-size: 13px;
		position: relative;
	}

	/* Navbar */
	.navbar {
		justify-content: center;
		box-shadow: none;
	}

	.navbar-logo p {
		display: none;
	}

	.navbar-logo img {
		margin: 0;
	}

	.navbar-menu-container {
		display: none;
	}

	#hamburger {
		display: flex;
		flex-direction: column;
		cursor: pointer;
	}

	.blur {
		justify-content: center;
		padding: 0 1rem;
	}

	.card {
		margin-left: 0;
	}

	/* .slideshow {
		height: 300px;
	} */

	.prev,
	.next {
		padding: 130px 1em;
	}
}
