@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Work+Sans&display=swap');

:root {
	--black: rgb(0, 0, 0);
	--red: rgb(196, 0, 0);
	--grey: rgb(71, 63, 63);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Work Sans;
}

body {
	font-size: 17px;
}
